<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<header>

    <nav>
        <ul>
            <li><a href="Index.cshtml">Home</a></li>
            <li><a href="Films.cshtml">Films</a></li>
            <li><a href="Evenementen.cshtml">Evenementen</a></li>
            <li><a href="Contact.cshtml">Contact</a></li>
        </ul>
    </nav>

    <div class="search">
      <form action="#">
        <input type="text"
               placeholder="Zoeken..."
               name="search">
      </form>
    </div>

</header>


<body>
    @RenderBody()
</body>

<footer>

    <div id="leftbox">
        <p>
            <br> info@lamabiosdenhaag.com <br> <br> 070-7564532
        </p>
    </div>

    <div id="middlebox">
        <p>
            <br> <br> Adres: Spui 65, 2511 BL Den Haag
        </p>
    </div>

    <div id="rightbox">
        <p>
            <br> <br> LaMa Bioscoop
        </p>
    </div>

</footer>


</html>
