<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<header>

    <nav>
       <ul>
         <li><a>Home</a></li>
         <li><a>Films</a></li>
         <li><a>Evenementen</a></li>
         <li><a>Contact</a></li>
       </ul>
    </nav>

</header>

<body>
    @RenderBody()
</body>

<footer>

    <div id="leftbox">
        <p>
            <br> info@lamabiosdenhaag.com <br> <br> 070-7564532
        </p>
    </div>

    <div id="middlebox">
        <p>
            <br> <br> Adres: Spui 65, 2511 BL Den Haag
        </p>
    </div>

    <div id="rightbox">
        <p>
            <br> <br> LaMa Bioscoop
        </p>
    </div>

</footer>


</html>
