@using Bioscoop_Website_2021.Database;
@model List<Datum>

<div id="tekst1">
    <h1>Bestelpagina</h1>
    <p>Dit is onze bestelpagina. Hieronder ziet u een overzicht van al onze voorstellingen voor de komende tijd. U kunt betalen door de voorstelling die u wil te selecteren en de Banono-QR code te scannen!</p>
</div>

<div id="overzicht">
    @foreach (Datum q in Model)

    {
        <div id="voorstellingen">
            <p> @q.datumtijd</p>
        </div>
    }
</div>

<div id= "bananotekst">
    <p>Bij de LaMa Bioscoop maken we gebruik van Banano als betaalmethode. 
     De kaartjes hebben allemaal 1 vaste prijs van 150 banano's. We zullen u nu stap voor stap
     uitleggen hoe u met banano kan betalen.</p>

</div>

<div id="banano">
    <img src="img/Foto's LaMa Bios/BananoQR.png">
    <p>Het BAN-nummer van onze banano-wallet: ban_3iy671i1iy45rb1cat6gfapuy9ejhqau1jsky8jer58y6jt7mewf7sfet4co</p>
</div>

<div id="uitleg">
    <h3>Wat is Banano nou eigenlijk?</h3>
    <p>Dat leggen we u graag even uit.
    Banano is een gevoelloze en directe cryptocurrency van de vierde generatie. Met slechts een paar klikken kan je makkelijk en snel banano's naar elkaar overmaken. 
    Op dit moment is het een bekende cryptocurrency in de memewereld van bijvoorbeeld reddit. Het wordt aangedreven door DAG-technologie. 
    Banano is opgericht op 1 april 2018.</p>
    <p>Wilt u meer weten? Klik dan <a href="https://banano.cc/">hier</a> </p>
    

</div>

<style>
    #tekst1 {
        text-align: center;
    }

     #tekst1 p {
        font-size: 20px;
    }

    #overzicht {
        border: 5px solid #000000;
        border-radius: 5px;
        width: 40%; 
        margin: auto; 
    }

    #voorstellingen{
        text-align: center;
    }


    #bananotekst {
        font-size: 20px;
        text-align: center;
        width: 80%;
        margin: auto;
    }

    #banano {
        height: 195px;
        width: 175px; 
        margin-left: auto;
        margin-right: auto; 
    }

    #uitleg{
        font-size: 20px;
        text-align: center;
        width: 80%;
        margin: auto;
    }

    #uitleg a{
        font-size: 20px;
        color: black; 
    }
</style>
