@using Bioscoop_Website_2021.Database;
@model List<Datum>

<div id="tekst1">
    <h1>Bestelpagina</h1>
    <p>Dit is onze bestelpagina. Hieronder ziet u een overzicht van al onze voorstellingen voor de komende tijd. 
     U kunt betalen door de voorstelling(en) waarvoor u een kaartje wilt te selecteren en de Banono-QR code te scannen!</p>
</div>

<div id="overzicht">
    @foreach (Datum q in Model)

    {
    
        <form>
            <input type="checkbox" id="datum" naam="voorstelling" value="Film" />
            <label for="datum">@q.datumtijd - @q.voorraad kaartjes beschikbaar</label>
        </form>

        }
    </div>

<div id="bananotekst">
    <h3>Onze betaalmethode</h3>
    <p>
        Bij de LaMa Bioscoop maken we gebruik van Banano als betaalmethode.
        De kaartjes hebben allemaal 1 vaste prijs van 150 banano's. We zullen u nu stap voor stap
        uitleggen hoe u met banano kan betalen.
    </p>
</div>

<div id="stappenplan">
    <h3>Betaalstappenplan:</h3>
    <p>
        Er zijn een paar manieren om met Banano te kunnen betalen.
        <br />
        Als u nog niet eerder gebruik heeft gemaakt van Banano, dan moet u eerst <a href="https://vault.banano.cc/)">hier </a> een wallet aanmaken.
        <br />
        Via de QR-code die bij uw Account Details staat kunt u Banano’s gestort krijgen van anderen en zo uw vermogen aan Banano’s opbouwen.
        <br />
        Wanneer u genoeg Banano’s op uw account hebt staan kunt u door naar de volgende stap.
    </p>
</div>

<div id="lijst">
    <p>Er zijn twee manieren om de Banano’s naar de wallet van de LaMa-Bioscoop over te maken:</p>
    <ul>
        <li>
            De eerste manier is om de onderstaande QR-code te scannen.
        </li>
        <li>
            Daarna kunt u op uw device in ofwel de app ofwel de <a href="https://vault.banano.cc/ "> website </a> het aantal benodigde Banano’s overmaken voor een kaartje (150 Banano’s)
        </li>
    </ul>

    <ul>
        <li>
            Als u niet de QR code kan scannen, kunt u ook via de app of via de <a href="https://vault.banano.cc/">website</a> de Banano’s overboeken.
        </li>
        <li>
            U klikt dan op ‘Send’ en vult dan bij ‘To Account’ het volgende BAN-nummer in: ban_3iy671i1iy45rb1cat6gfapuy9ejhqau1jsky8jer58y6jt7mewf7sfet4co

        </li>
        <li>
            Daarna kunt u het aantal benodigde Banano’s invoeren en op ‘Send Banano’ drukken
        </li>
        <li>
            De transactie is klaar!
        </li>
    </ul>
</div>


<div id="banano">
    <img src="img/Foto's LaMa Bios/BananoQR.png">
</div>

<div id="ban"><p>Het BAN-nummer van onze banano-wallet: ban_3iy671i1iy45rb1cat6gfapuy9ejhqau1jsky8jer58y6jt7mewf7sfet4co</p></div>


<div id="uitleg">
    <h3>Wat is Banano nou eigenlijk?</h3>
    <p>
        Dat leggen we u graag even uit.
        Banano is een cryptocurrency van de vierde generatie. Met slechts een paar klikken kan u makkelijk en snel banano's naar elkaar overmaken.
        In dit proces zijn er geen verdere transactiekosten en gaan er geen banano's verloren. Daarom is het dan ook een 'feeless' cryptocurrency.
        Op dit moment is het een bekende cryptocurrency in de memewereld van bijvoorbeeld reddit. Het wordt aangedreven door DAG-technologie.
        Banano is nu helaas nog niet heel erg bekend, maar ze bestaan dan ook nog niet zo lang. De cryptomunt is opgericht op 1 april 2018. 
        Banano heeft in een korte tijd al behoorlijk wat volgers op haar sociale-media platformen verworven.
        Banano is dan ook actief op meerdere sociale-media platformen, zoals Reddit, Twitter, Discord, Facebook en nog veel meer.
        Op Discord had Banano in januari 2021 bijna 30.000 leden en op Twitter meer dan 22.000 leden. 
        Banano is dus een cryptocurrency om de komende jaren nog goed in de gaten te houden!
    </p>
    <p>Wilt u meer weten? Klik dan <a href="https://banano.cc/">hier</a> </p>
    

</div>

<style>
    #tekst1 {
        text-align: center;
        width: 80%;
        margin: auto;
    }

        #tekst1 p {
            font-size: 20px;
        }

    #overzicht {
        text-align: center;
        font-size: 20px;
    }

    #bananotekst {
        font-size: 20px;
        text-align: center;
        width: 80%;
        margin: auto;
    }

    #banano {
        height: 180px;
        width: 170px;
        margin-left: auto;
        margin-right: auto;
    }

    #ban {
        text-align: center;
        font-size: 20px;
    }

    #uitleg {
        font-size: 20px;
        text-align: center;
        width: 80%;
        margin: auto;
    }

        #uitleg a {
            font-size: 20px;
            color: black;
        }

    #stappenplan a {
        font-size: 20px;
        color: black;
    }

    #stappenplan h3 {
        font-size: 24px;
        text-align: center;
    }

    #stappenplan p {
        font-size: 20px;
        text-align: center;
    }

    #lijst ul {
        margin-left: 10vw;
        font-size: 20px;
    }

    #lijst p {
        margin-left: 10vw;
        font-size: 20px;
    }
</style>