
<div id="tekst">
<h1> Hebt u hulp nodig? </h1>
<p>Op onze contactpagina willen we u graag helpen. Hebt u een veelvoorkomende vraag? 
    Bekijk dan zeker onze FAQ! 
    Als u schriftelijk contact op wil nemen kunt u ons contactformulier invullen.</p>
</div>

<div id="knopjes">
    <a href="/FAQ">FAQ</a>
    <a href ="/Contact">Contactformulier</a>
</div>

<style>

  #tekst{
  text-align: center;
  }

  #tekst p{
  font-size: 25px;
  margin: auto;
  width: 70%
  }

    #knopjes {
        display: flex;
        justify-content: center;
        margin-left: 10px; 
      
    }

    #knopjes a:link, a:visited {
        background-color: indianred;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    #knopjes a:hover, a:active {
        background-color: #808080;
    }
    

</style>