
<div id="tekst">
<h1> Hebt u hulp nodig? </h1>
<p>Op onze contactpagina willen we u graag helpen. Hebt u een veelvoorkomende vraag? 
    Bekijk dan zeker onze FAQ! 
    Als u schriftelijk contact op wil nemen kunt u ons contactformulier invullen.</p>
</div>

<div id="knopjes">
    <button class='knop_1'>FAQ</button>
    <button class='knop_2'>Contactformulier</button>
</div>

<style>

  #tekst{
  text-align: center;
  }

  #tekst p{
  font-size: 25px;
  margin: auto;
  width: 70%
  }

  #knopjes button{
      width: 250px;
      height: 100px; 
      background: #000000;
      border: none;
      color: #ffffff; 
      font-weight: bold;
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 20px; 
  }

</style>