@{
    ViewData["Title"] = "Contact";
}
  
 <h1>@ViewData["Title"]</h1>

<form>
    Voornaam: <input type ="text" name="Voornaam" />
    Achternaam: <input type ="text" name=" Achternaam" />
    <input type ="submit" value="opslaan" />
</form>

