@{
    ViewData["Title"] = "Contact";
}
  
<h1>@ViewData["Title"]</h1>

<form method ="post">
    Voornaam: <input type ="text" name= "Voornaam" />
    Achternaam: <input type ="text" name= "Achternaam" />
    Email: <input type ="text" name= "Email"/>
    <input type ="submit" value="opslaan" />
</form>

