@model Bioscoop_Website_2021.Database.Film
@{
    ViewData["Title"] =  "Film"; 
}

<div id="container">

    <h1>@Model.Titel</h1>

    <p>@Model.Beschrijving</p>

</div>

<style>

 #container p{

}
 #container{
  text-align: center; 
 }


</style>