<h1>FAQ</h1>

<div id="vragen">
    <p> <strong>Hoe neem ik contact op met de LaMa Bios klantenservice?</strong></p>
    <p> Door het contactformulier op de contactpagina in te vullen kunt u contact met ons opnemen.</p> <br />

    <p> <strong>Hoe gaat LaMa Bios om met de kijkwijzer 12+ en 16+?</strong></p>
    <p> LaMa Bios houdt zich strikt aan de wet op de leeftijdskeuring van 16 jaar & 18 jaar, hierop worden nooit uitzonderingen gemaakt. Bij films gekeurd voor 16 jaar en ouder & 18 jaar en ouder wordt er bij twijfel naar legitimatie gevraagd. Indien de bezoeker jonger dan de aangegeven Kijkwijzer is en/of geen legitimatie kan tonen, wordt de toegang geweigerd.</p> <br />

    <p> <strong>Hoe kan ik mijn gekochte tickets annuleren?</strong></p>
    <p> Tickets die gekocht zijn via de website kunnen makkelijk geannuleerd worden via onze klantenservice. Door contact op te nemen via het contactformulier kunt u de reden van annulering op geven. Het aankoopbedrag staat binnen drie werkdagen weer terug op uw rekening.</p> <br />

    <p> <strong>Hoe reserveer ik een rolstoelplek?</strong></p>
    <p> Bijna iedere zaal bij LaMa Bios is rolstoeltoegankelijk, neem direct contact op door het contactformulier in te vullen om een reservering te maken. </p> <br />

    <p> <strong>Hoe gaat LaMa Bios om met de maatregelen rondom Corona?</strong></p>
    <p> LaMa Bios verplicht alle bezoekers een mondkapje te dragen, anderhalve meter afstand te houden en hun handen te ontsmetten bij de ingang.</p> <br />
</div>


<style>

    h1 {
        text-align: center;
    }
</style>