@using Bioscoop_Website_2021.Database;
@model List<Film>

@section style{
<link rel="stylesheet" href="~/css/Films.css" />
}


<section>

    <div id="Tekst1">
        <h1>Films</h1>
        <p>Welke op onze overzichtspagina! Op deze pagina kunt u het overzicht van ons gehele aanbod aan films zien. Neem snel een kijkje!</p>
    </div>

    @foreach (Film p in Model)

    {
    <div id="allefilms">
        <div id="Titel"><h2>@p.Titel</h2></div>
        <div id="image"><img src="@p.Img" alt="@p.Titel" /></div>
        <br><br>
        <div id="Beschrijving">@p.Beschrijving</div>
        <p><a href="/film/@p.id"> Lees meer... </a></p>
    </div>
    }
</section>

