@using Bioscoop_Website_2021.Database;
@model List<Film>

<div id="Tekst1">
    <h1>Films</h1>
    <p>Welke op onze overzichtspagina! Op deze film kunt u het overzicht van ons gehele aanbod aan films zien. Neem snel een kijkje!</p>
</div>

@foreach (Film p in Model)

{
<div id="allefilms">
    <h2>@p.Titel</h2>
    <div id="image"><img src="@p.Img" alt="@p.Titel" /></div>
    <div id="Beschrijving"><p>@p.Beschrijving</p></div>
    <br><br>
    <p><a href="/film/@p.id"> Lees meer... </a></p>
</div>
}

<style>
    #Tekst1{
        text-align: center;
    }

    #allefilms {
        width: 50%;
        border: 5px solid #000000;
        padding: 10px;
        margin-bottom: 10px;
    }

    #allefilms a {
        color: #000000;
        text-decoration: none;
     }

    #allefilms img {
        width: 150px;
        height: 200px;
    }

    #Beschrijving{
        font-size: 15px; 
    } 
</style>

