@using Bioscoop_Website_2021.Database
@model Film

<div id="container">

    <h1>@Model.Titel</h1>

    <p>@Model.Beschrijving</p>

</div>

<div id=" image">
    <img src="@Model.Img" alt="@Model.Titel" />
</div>

<style>

  #container{
    text-align: center
  }

  #container p{
    font-size: 20px;
    margin: auto;
    width: 75%
   }

  #image img{
      width: 250px; 
      height: 350px; 
  }

</style>