@using Bioscoop_Website_2021.Database;
@model List<Film>

<h1>Films</h1>

@foreach (Film p in Model)

{
<div id="allefilms">
    <div id="image"><img src="@p.Img" alt="@p.Titel" /></div>
    <p>@p.Beschrijving</p>
    <br><br>
    <p><a href="/film/@p.id"> Lees meer... </a></p>
</div>
}

<style>
    #allefilms {
        width: 30%;
        border: 5px solid #000000;
        padding: 10px;
        margin-bottom: 10px;
    }

    #allefilms a {
        color: #000000;
        text-decoration: none;
     }

    #allefilms img {
        width: 150px;
        height: 200px;
    }
</style>

