@using Bioscoop_Website_2021.Database;
@model List<Film>
@{
    ViewData["Title"] = "Home Page";

}


<div id="hometext">
    <h1>Welkom!</h1>
    <p>Bekijk nu onze nieuwe releases!</p>
    @foreach(Film p in Model)
    {
        <p> @p.Titel - @p.Leeftijdsgrens - @p.Beschrijving </p>
    }
</div>

<style>

    #hometext h1 {
        color: #000000;
        text-align: center;
        font-size: 60px;
    }

    #hometext p {
        color: #000000;
        text-align: center;
        font-size: 30px;
    }
</style>
