@using Bioscoop_Website_2021.Database;
@model List<Film>
@{
    ViewData["Title"] = "Home Page";

}


<div id="hometext">
    <h1>Welkom!</h1>
    <p>Bekijk nu onze nieuwe releases!</p>
</div>

<div id="homefilms">

    @foreach (Film p in Model)

    {

      <ul><a href="/film/@p.id"> @p.Titel</a></ul>
        
    }

</div>


<style>

    #hometext{
        text-align: center; 
    }

    #hometext h1 {
        color: #000000;
        text-align: center;
        font-size: 60px;
    }

    #hometext p {
        color: #000000;
        text-align: center;
        font-size: 30px;
    }

    #homefilms a {
       color: #000000;
       text-decoration: none; 
    }

    #homefilms ul {
      text-align: center; 
    }
</style>
