@{
    ViewData["Title"] = "Inloggen";
}

<h1>Log hier in op uw LaMa-bios account! </h1>

<form>
    gebruikersnaam:<input type="text" name="username" />
    wachtwoord: <input type="text" name="password" />
    <input type="submit" value="Versturen" />
</form>

