<div id="tekst">
    <h1>Oh jee, de pagina is niet gevonden!</h1>

    <p>Raak vooral niet in paniek en probeer het volgende:</p>
</div>

<div id="stappenplan">
    <ul|>
        <li>Is er een typefout in het internetadres?</li>
        <li>Probeer eens te refreshen.</li>
        <li>U kunt ook het internetadres opnieuw intypen.</li>
        <li>U kunt ook proberen om terug naar de <a href="/">homepage</a> te gaan.</li>
        <li>Klik bovenin uw browser op de knop "Terug" (back) om terug te keren naar de pagina waar u vandaan kwam.</li>
    </ul|>
</div>

<div class= "image">
    <img src="https://img-16.ccm2.net/_SqzzXVDSG50FWb_UBrCl3XwV78=/440x/1685e17045e747a899925aa16189c7c6/ccm-encyclopedia/99776312_s.jpg" />
</div>


<style>
    
    #tekst{
        text-align: center;
    }

    #tekst p{
        font-size: 20px; 
    }
    
    #stappenplan{
        font-size: 20px; 
        margin-left: 35vw;
        margin-bottom: 10vw;
    }

    .image {
        margin-left: auto;
        margin-right: auto;
    }

</style>