<style >

#tekst {
    text-align: center;
}

#tekst p {
    font-size: 25px;
    margin: auto;
    width: 70%
}

#knopjes {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#knop1 {
    margin-right: 10px;
}

#knop2 {
    margin-left: 10px;
}

#knopjes a:link, a:visited {
    background-color: indianred;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#knopjes a:hover, a:active {
    background-color: #808080;
}



</style >