<style >
#gebruikersnaam input {
    width: 200px;
    height: 30px;
}

#wachtwoord input {
    width: 200px;
    height: 30px;
}

#Formulier {
    text-align: center;
    align-content: center;
}

    #Formulier p {
        font-size: 15px;
    }

</style >