header {
    background: #B01304;
    height: 200px;
    padding-top: 40px;
    min-height: 80px;
    border-bottom: #000000 50px solid;
}

header ul {
       margin: 0;
       padding: 0;
    }

header li {
      display: inline;
      padding: 20px 60px 20px 60px;
    }

header a {
      color: #ffffff;
      text-decoration: none;
      font-size: 22px;
 }


header nav {
     margin-top: 90px;
     margin-bottom: 10px;
     float: left;
     margin-left: 330px;
 }

p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
}

#leftbox {
    float: left;
    width: 33%;
    height: 280px;
}

#middlebox {
    float: left;
    width: 33%;
    height: 280px;
}

#rightbox {
    float: right;
    width: 33%;
    height: 280px;
}

footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 135px;
    background: #B01304;
    overflow: hidden;
}